.layoutDetail{
    min-height: 100vh;
    background: #01162B;
    width: 250px;
    
    
    &__main{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &-sidebar{
            width: 100%;
            height: 70%;
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            .menu-sidebar{
               display: flex;
               width: 100%;
               height: 60px;
               padding-left: 33px;
               align-items: center;               
                &-name{
                    margin-left: 26px;
                    font-weight: 400;
                    font-size: 18px;
                    color: #E7F3FF;
                }
                &.active{ 
                    background-color: #2F4255; 
                    
                    .menu-sidebar-name {
                        color: #ffffff ; 
                        
                    }
               }
            }
            
        }
        &-logout{
            width: 100%;
            display: flex;
            font-weight: 400;
            color: #E7F3FF;
            margin-bottom: 52px;
            .logout-icon{
                padding-left: 33px;
                width: 60px;
            }
            .logout-content{
                margin-left: 26px;
                font-weight: 700;
                font-size: 18px;
                color: #E7F3FF;
            }
        }
    }
}
.logoProxy{
    font-weight: 400;
    font-size: 18px;
    padding-top: 41px;
    padding-bottom: 32px;
    color: white;
}