.plan{ 
    &__table{
      border-collapse: collapse;
      width: 100%;
      &-header{
        width: 100%;
        background-color: #f2f8ff;
        border-radius: 50px;
        height: 56px;

        
      }
      &-body{
        width: 100%;
        text-align: center;
        td{

        }
        tr{
          height: 62px;
          border-bottom: 1px solid black;
        }
      }
    }
  }
