@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
    @content;
}

@mixin title {
    font-family: 'GoogleSans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    @content
}

.list {
    margin-left: 250px;
    padding-left: 28px;
    padding-top: 52px;
    padding-right: 25px;
    width: 100%;

    &__admin {
        position: absolute;
        top: 44px;
        right: 51px;
    }

    &__title {
        @include title() {
            font-size: 25px;
        }
    }

    &__content {
        height: 640px;
        width: 100%;
        border: 1px solid #d3d6da;
        border-radius: 15px;
        margin-top: 40px;
        padding: 10px 18px;

        &-header {
            display: flex;
            width: 100%;
            margin-bottom: 40px;
            justify-content: space-between;

            &-option {
                display: flex;

                .option-action {
                    height: 39px;
                    padding: 0 20px;
                    border: 1px solid #2A86FF;
                    border-radius: 22px;

                    @include center() {}

                    color: #2A86FF;
                    margin-right: 15px;
                    font-weight: 700;
                    font-family: 'GoogleSans',
                    sans-serif;
                }
            }

            &-edit {
                display: flex;

                &-setting {
                    width: 40px;
                    height: 40px;
                    background: #F5F5F5;
                    border-radius: 50%;

                    @include center() {}
                }

                &-delete {
                    width: 40px;
                    height: 40px;
                    background: #F5F5F5;
                    border-radius: 50%;

                    @include center() {}

                    margin: 0 25px;
                }

                &-input {
                    position: relative;
                }

                &-icon {
                    position: absolute;
                    top: 20%;
                    left: 17px;
                }

                &-search {
                    width: 239px;
                    height: 40px;
                    background: #F5F5F5;
                    border-radius: 8px;
                    border: none;
                    padding-left: 54px;
                }
            }

        }

    }

    &__table {
        border-collapse: collapse;
        width: 100%;

        &-header {
            width: 100%;
            background-color: #f2f8ff;
            border-radius: 50px;
            height: 56px;

        }

        &-body {
            width: 100%;
            text-align: center;

            &-status {
                font-size: 12px;
                width: 33px;
                height: 20px;
                font-weight: 700;
                color: #34C38F;
                background: rgba(52, 195, 143, 0.2);
                border-radius: 14px;
                font-family: 'GoogleSans', sans-serif;

            }
            .list__action{
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: 10px;

            }
            &-action {
                margin-left: 2px;
                width: 40px;
                height: 40px;
                background: #F5F5F5;
                border-radius: 50%;
                display: inline;
                @include center() {}
                
            }
            &-services{
                font-size: 12px;
                width: 65px;
                height: 20px;
                font-weight: 700;
                line-height: 14px;
                @include center(){};
                background: rgba(241, 180, 76, 0.2);
                border-radius: 14px;
                font-family: 'GoogleSans', sans-serif;
                color: #F1B44C;
            }
            tr {
                height: 62px;
                border-bottom: 1px solid black;
            }
        }
    }
}

.iconSelect {
    display: inline;
}