@mixin label {
    margin-bottom: 10px;
    margin-top: 30px;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #01162B;
    font-family: 'GoogleSans', sans-serif;
    @content;
}

@mixin input {
    width: 441px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #2A86FF;
    border-radius: 25px;
    padding-left: 27px;
    @content;
}

@mixin note {
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: #01162B;
    opacity: 0.5;
    margin-bottom: 17px;
    @content;

}

@mixin payOption{
    justify-content: flex-end;
    display: inline-flex;
    padding-left: 15px;
    align-items: center;
    justify-content: space-between;
    padding-right: 29px;
    width: 100%;
    height: 25%;
    border-bottom: 1px solid #CCD0D5;
    background: rgba(255, 255, 255, 0.1);
    &-icon{
        margin-right: 24px
    }
    &-title{
        font-weight: 400;
        font-size: 15px;
        color: #01162B;
        line-height: 19px;
    }
    @content;
}
.topup {
    width: 100%;
    margin-left: 250px;
    padding-top: 52px;
    padding-left: 28px;
    padding-right: 52px;
    &__admin {
        position: absolute;
        top: 44px;
        right: 51px;
    }

    &__title {
        &-name {
            font-weight: 700;
            line-height: 32px;
            font-size: 25px;
        }

        &-note {
            @include note(){};
        }
    }

    &__step {
        &-one {
            &-label {
                @include label() {}

                ;
            }

            &-input {
                @include input() {}
            }
        }

        &-two {
            &-label {
                @include label() {}

                ;
            }

            &-note {
                @include note(){};
            }

            &-input {
                @include input() {}
            }
        }

        &-three {
            &-label {
                @include label() {}

                ;
            }
        }

        &-four {
            &-label {
                @include label() {}

                ;
            }
            &-note{
                @include note(){};
            }
        }
    }
    &__submit{
        // width: 100%;
        padding-bottom: 50px;
        margin-left: 350px;        
        &-button{
            width: 381px;
            height: 50px; 
            background: #2A86FF;
            box-shadow: 0px 4px 10px rgba(8, 35, 106, 0.25);
            border-radius: 25px;
            cursor: pointer; 
            display: flex;
            align-items: center;
            justify-content: center; 
            border: none;
            font-weight: 700;
            font-size: 15px;
            line-height: 19px;
            font-family: 'GoogleSans', sans-serif;
            color: #FFFFFF;

        }
        
    }
}
.payMethod{
    display: flex;
    width: 100%;
    height: 231px;
    // background: rgba(255, 255, 255, 0.1);
    // border: 1px solid #CCD0D5;
    &__option{
        height: 100%;
        width: 38%;
        background: rgba(255, 255, 255, 0.1);
        border: 1px solid #CCD0D5;
        border-radius: 10px 0 0 10px;
        &-mbbank{
            @include payOption(){};
        }
        &-bitcoin{
            @include payOption(){};
        }
        &-USDT{
            @include payOption(){};
        }
        &-card{
            @include payOption(){
                border-bottom: none
            };
        }
    }
    &__content{
        height: 100%;
        flex-grow: 1;
        background: rgba(255, 255, 255, 0.1);
        border: 1px solid #CCD0D5;
        align-items: center;
        &-mbbank{
            display:flex;
            width: 100%;
            height: 100%;
            align-items: center;
            margin-left: 13px;
            &-info{
                margin-left: 19px;
                .info-span{
                    font-weight: 700;

                }
            }
        }
        &-bitcoin{
            padding: 21px 40px;
            font-weight: 400;
            font-size: 15px;
            line-height: 19px;
            &-title{
                margin-bottom: 9px;
            }
            .bitcoin-span{
                font-weight: 700;
                
            }
            .bitcoin-copy{
                display: inline;
                margin-left: 10px;
                cursor: pointer;
            }
        }
        &-USDT{
            padding: 21px 40px;
            font-weight: 400;
            font-size: 15px;
            line-height: 19px;
            &-title{
                margin-bottom: 9px;
            }
            .USDT-span{
                font-weight: 700;
                
            }
            .USDT-copy{
                display: inline;
                margin-left: 10px;
                cursor: pointer;
            }
        }
        &-card{
            color: #01162B;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            &-submit{
                margin-top: 10px;
                position: relative;
                background: #2A86FF;
                box-shadow: 0px 4px 10px rgba(8, 35, 106, 0.25);
                border-radius: 10px;
                width: 344px;
                font-weight: 700;
font-size: 15px;
color: #FFFFFF;
border: none;
cursor: pointer;
                height: 43px;
                &-icon{
                    position: absolute;
                    top: 35%;
                    right: 10%;
                }
            }
        }
    }
}
.activePay{
    background: rgba(42, 134, 255, 0.1);
    border: 1px solid #CCD0D5;
    border-left: 5px solid rgb(119, 119, 240);
}